<div class="{{{inputWrapperClass}}}" id="field-{{name}}-container">
	<div class="mura-checkbox-group">
		<div class="mura-group-label">
		{{#if summary}}{{summary}}{{else}}{{label}}{{/if}}{{#if isrequired}} <ins>{{formRequiredLabel}}</ins>{{/if}}</div>
		{{#if summary}}</br>{{/if}}
		{{#eachCheck dataset.options selected}}
			<div class="{{{checkboxWrapperClass}}}">
				<input source="{{../dataset.source}}" class="{{{checkboxClass}}}" type="checkbox" name="{{../name}}" id="field-{{id}}" value="{{id}}" {{#if isselected}}checked='checked'{{/if}}/>
				<label class="{{{checkboxLabelClass}}}" for="field-{{id}}">{{label}}</label>
			</div>
		{{/eachCheck}}
	</div>
</div>
