	<div class="{{{inputWrapperClass}}}" id="field-{{name}}-container">
		<div class="mura-checkbox-group">
			<div class="mura-group-label">{{#if summary}}{{summary}}{{else}}{{label}}{{/if}}{{#if isrequired}} <ins>Required</ins>{{/if}}</div>
			{{#if summary}}</br>{{/if}}
			{{#eachStatic dataset}}
				<label class="{{{checkboxLabelClass}}}" for="field-{{datarecordid}}">
				<input type="checkbox" name="{{../name}}" class="{{{checkboxClass}}}" id="field-{{datarecordid}}" value="{{value}}" id="{{../name}}" {{#if isselected}} checked='checked'{{/if}}{{#if selected}} checked='checked'{{/if}}/>
				{{label}}</label>
			{{/eachStatic}}
		</div>
	</div>
