<div class="{{{inputWrapperClass}}}" id="field-{{name}}-container">
	<label for="{{labelForValue}}" data-for="{{name}}">{{label}}{{#if isrequired}} <ins>{{formRequiredLabel}}</ins>{{/if}}</label>
	<input type="file" {{{commonInputAttributes}}}/>
</div>
