	<div class="{{{inputWrapperClass}}}" id="field-{{name}}-container">
		<div class="mura-radio-group">
			<label class="mura-group-label" for="{{name}}">
				{{#if summary}}{{summary}}{{else}}{{label}}{{/if}}{{#if isrequired}} <ins>{{formRequiredLabel}}</ins>{{/if}}
			</label>
			{{#if summary}}</br>{{/if}}
			{{#eachStatic dataset}}
				<div class="{{{radioWrapperClass}}}">
					<input type="radio" name="{{../name}}" class="{{{radioClass}}}" id="field-{{datarecordid}}" value="{{value}}"  {{#if isselected}}checked='checked'{{/if}}/>
					<label for="field-{{datarecordid}}" class="{{{radioLabelClass}}}">{{label}}</label>
				</div>
			{{/eachStatic}}
		</div>
	</div>
