<div class="{{{inputWrapperClass}}}"  id="field-{{name}}-container">
	<label for="field-{{name}}">{{#if summary}}{{summary}}{{else}}{{label}}{{/if}}{{#if isrequired}} <ins>{{formRequiredLabel}}</ins>{{/if}}</label>
	{{#if summary}}</br>{{/if}}
	<textarea {{{commonInputAttributes}}}{{#if placeholder}} placeholder="{{placeholder}}"{{/if}}>{{value}}</textarea>
</div>
